#message-success {
	position: fixed;
	right: 50px;
	bottom: 20px;
	z-index: 100;
	background-color: green;
	color: yellow;
	border-color: yellow;
}
#message-danger {
	position: fixed;
	right: 50px;
	bottom: 20px;
	z-index: 100;
	background-color: red;
	color: yellow;
	border-color: yellow;
}
